body{
    background:rgba(235, 207, 235, 0.74) ;
    color:  rgb(187, 187, 187);
    text-align: center;
    padding-top: 50px;
}
.carousel{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
/* Voy hacer la img */
.card img{
    height: 40%;
}
.card p{
    text-align: justify;
}


.peopleCarouselImg img {
  width: auto;
  height: 400px !important; 
  max-height: 700px;
}

#boton_adoptame{
    background-color: burlywood;
}